<ng-container *ngIf="init.order?.length">
	<div class="button-row">
		<button mat-button (click)="initiativeService.clear()" color="warn">Clear</button>
		<button mat-button (click)="initiativeService.previous()"><mat-icon svgIcon="arrow-left-bold-box-outline"></mat-icon>Previous</button>
		<button mat-button (click)="initiativeService.advance()" color="primary">Advance<mat-icon svgIcon="arrow-right-bold-box-outline"></mat-icon></button>
		<button mat-button (click)="rollPerception(init.order)" color="accent">Roll Perception</button>
		<button mat-button (click)="initiativeService.rerollInitiativeForAll()" color="accent">Reroll Initiative</button>
	</div>

	Round: {{init.round}}
	<button mat-button (click)="initiativeService.reset()">Reset</button>

	<mat-drawer-container autosize>

		<mat-drawer #detailDrawer
					mode="side" position="end" class="selected-creature-drawer"
					[(opened)]="showDetail"
					(closed)="showDetail = false">
			<div fxLayout="column">
				<div class="button-row" fxLayout="row" fxLayoutAlign="end">
					<ng-container *ngIf="showDetail && detailComponent.creature.hp != undefined">
						<button mat-icon-button (click)="openCreaturePreview()"><mat-icon>open_in_new</mat-icon></button>
					</ng-container>
					<button mat-icon-button (click)="unselect()"><mat-icon>cancel</mat-icon></button>
				</div>
				<app-creature-detail #creatureDetail [initService]="initiativeService"></app-creature-detail>
			</div>
		</mat-drawer>

		<mat-drawer-content>
			<div fxLayout="column" fxLayoutGap="10px" fxFlex="2 1 auto">
				<table class="mat-table initiativeTable">
					<tr class="mat-row initiativeRow" *ngFor="let creature of init.order; index as i"
						[class.active-creature-row]="i == init.active"
						[class.selected-creature-row]="creature.id == detailComponent?.creature?.id"
						(click)="selectCreature(creature)">

						<td class="mat-cell initiativeCell">
							{{creature.initiative | number:'1.0-2'}}
						</td>

						<td class="mat-cell initiativeCell">
							<span 	matBadge="{{badges[creature.id]}}" [matBadgeHidden]="badges[creature.id] == undefined"
									matBadgeColor="accent" matBadgePosition="before" matBadgeOverlap="false">
								<span *ngIf="!creature.hp"><mat-icon>person</mat-icon></span>
								<span class="creature-name"> {{creature.name}}</span>
								<ng-container *ngIf="creature.basics?.quantity > 1"> ({{ creature.basics.idx }} of {{ creature.basics.quantity }})</ng-container>
							</span>
							<ng-container *ngIf="creature.delayed">
								<mat-icon class="small-icon">snooze</mat-icon>
							</ng-container>
							<ng-container *ngIf="creature.hp && !creature.visible">
								<mat-icon class="small-icon">visibility_off</mat-icon>
							</ng-container>
						</td>

						<td class="mat-cell initiativeCell">
							<div fxLayout="row" fxLayoutAlign="start center">
								<div *ngIf="creature.hp" fxLayout="column" fxLayoutAlign="center center">
									<span>
										{{creature.currentHp}}/{{creature.hp}}
										<button mat-icon-button appStopClick (click)="openDamageFormDialog(creature)" matTooltip="Damage"><mat-icon svgIcon="sword"></mat-icon></button>
									</span>
									<mat-progress-bar mode="determinate" color="warn" [value]="100*(creature.currentHp/creature.hp)"></mat-progress-bar>
								</div>
								<app-interactive-condition-list [buffs]="init.buffs" [creature]="creature" (clickEvent)="openConditionDetailDialog($event)"></app-interactive-condition-list>
							</div>
						</td>

						<td class="mat-cell initiativeCell">
							<button mat-icon-button appStopClick (click)="initiativeService.moveUp(creature)" matTooltip="Move Up">
								<mat-icon>arrow_upward</mat-icon>
							</button>
							<button mat-icon-button appStopClick (click)="initiativeService.moveDown(creature)" matTooltip="Move Down"><mat-icon>arrow_downward</mat-icon></button>
							<button mat-icon-button appStopClick [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="openConditionFormDialog(creature)">
									<mat-icon svgIcon="skull"></mat-icon>
									<span>Add Condition</span>
								</button>
								<button mat-menu-item *ngIf="!creature.delayed" (click)="initiativeService.delay(creature)">
									<mat-icon>snooze</mat-icon>
									<span>Delay</span>
								</button>
								<button mat-menu-item *ngIf="creature.delayed" (click)="initiativeService.undelay(creature)">
									<mat-icon>alarm_on</mat-icon>
									<span>Undelay</span>
								</button>
								<button mat-menu-item *ngIf="creature.hp" (click)="initiativeService.toggleVisible(creature)">
									<ng-container *ngIf="creature.visible">
										<mat-icon svgIcon="eye-off"></mat-icon>
										<span>Make Invisible</span>
									</ng-container>
									<ng-container *ngIf="!creature.visible">
										<mat-icon svgIcon="eye"></mat-icon>
										<span>Make Visible</span>
									</ng-container>
								</button>
								<button mat-menu-item (click)="initiativeService.remove(creature)">
									<mat-icon>delete</mat-icon>
									<span>Remove</span>
								</button>
							</mat-menu>
						</td>
					</tr>
				</table>
			</div>
		</mat-drawer-content>

	</mat-drawer-container>

</ng-container>