<!--Workaround to keep the first button from being automatically highlighted; see https://github.com/angular/material2/issues/3215-->
<a mat-button style="height: 0; position: absolute;"></a>
<!--End workaround-->
<div style="padding:10px" *ngIf="creature">
	<app-interactive-condition-list [creature]="creature"></app-interactive-condition-list>

	<ng-container *ngIf="creature.hp != undefined">
		<app-monster-preview [stats]="creature" [live]="true"></app-monster-preview>
	</ng-container>
	<ng-container *ngIf="creature.hp == undefined">

		<div class="creature-name">{{creature.name | uppercase}}</div>

		<mat-divider></mat-divider>

		<p>
			<b>Init</b> {{creature.initiativeBonus | plus}}
		</p>
		<p fxFlex="row" fxLayoutAlign="start center">
			<span><b>Perception</b> {{creature.perceptionBonus | plus}} </span><app-rollable [bonus]="creature.perceptionBonus"></app-rollable>
		</p>
		<p fxFlex="row" fxLayoutAlign="start center">
			<span><b>Sense Motive</b> {{creature.senseMotiveBonus | plus}} </span><app-rollable [bonus]="creature.senseMotiveBonus"></app-rollable>
		</p>

	</ng-container>
</div>