<ng-container *ngIf="initiativeService.init$ | async as init">
	<ng-container *ngIf="init.order?.length; else noEncounterMsg">
		<h2>Round: {{init.round}}</h2>
		<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start">
			<ng-container *ngIf="getActive(init.order, init.active).imageUrl">
				<img [src]="getActive(init.order, init.active).imageUrl" style="max-width: 30vw">
			</ng-container>
			<table class="mat-table initiativeTable" fxFlex="2 1 auto">
				<tr class="mat-row initiativeRow" *ngFor="let creature of init.order; index as i"
					[class.active-creature-row]="i == getActive(init.order, init.active).idx">
					<ng-container *ngIf="!creature.hp || creature.visible">
						<td class="mat-cell initiativeCell left-aligned-cell">
							{{creature.initiative}}
							<ng-container *ngFor="let buff of getBuffDecrements(init.order, i, init.buffs); trackBy: buffTrackByFn">
								<mat-icon	[ngStyle]="{'color': buff.color}"
											class="decrease-icon"
											[ngClass]="{'decrease-icon-focused': buffViewComponent.focusedBuffId == buff.id}"
											matTooltip="{{buff.name}}"
											(mouseover)="mouseoverBuff(buff)"
											(mouseout)="mouseoutBuff()">
									trending_down
								</mat-icon>
							</ng-container>
						</td>

						<td class="mat-cell initiativeCell">
							<ng-container *ngIf="!creature.hp">
								<mat-icon>person</mat-icon>
								<span class="creature-name"> {{creature.name}}</span>
							</ng-container>
							<ng-container *ngIf="creature.hp">
								<span class="creature-name">
									<ng-container *ngIf="!init.playerOptions || init.playerOptions.nameOption != 'Don\'t show'">
										 {{creature.name}}
									</ng-container>
									<ng-container *ngIf="init.playerOptions?.nameOption == 'Don\'t show'">
										 Monster
									</ng-container>
								</span>
								<ng-container *ngIf="creature.basics?.quantity > 1 && init.playerOptions?.nameOption == 'Show names and numbers'"> ({{ creature.basics.idx }})</ng-container>
							</ng-container>
							<ng-container *ngFor="let buff of getBuffs(creature, init.buffs); trackBy: buffTrackByFn">
								<span (mouseover)="mouseoverBuff(buff)" (mouseout)="mouseoutBuff()">
									<mat-icon 	[ngStyle]="{'color': buff.color}"
												[ngClass]="{'buff-icon': buffViewComponent.focusedBuffId != buff.id, 'buff-icon-focused': buffViewComponent.focusedBuffId == buff.id}"
												matTooltip="{{buff.name}}">
										brightness_1
									</mat-icon>
								</span>
							</ng-container>
						</td>

						<td class="mat-cell initiativeCell">
							<ng-container *ngIf="creature.hp">
								<div *ngIf="init.playerOptions?.healthOption == 'Health bar'">
									<mat-progress-bar mode="determinate" color="warn" [value]="100*(creature.currentHp/creature.hp)"></mat-progress-bar>
								</div>
								<div *ngIf="init.playerOptions?.healthOption == 'Detailed'">
									<div>{{ healthCategory(100*(creature.currentHp/creature.hp)) }}</div>
								</div>
								<div *ngIf="init.playerOptions?.healthOption == 'Vague'">
									<div>{{ bloodied(100*(creature.currentHp/creature.hp)) }}</div>
								</div>
							</ng-container>
						</td>

					</ng-container>
				</tr>
			</table>

			<div class="buff-view">
				<app-buff-view
					#buffViewComponent
					fxFlex="1 1 auto"
					[initiativeService]="initiativeService"
					[buffs]="init.buffs"
					[order]="init.order"
					[active]="init.active"
					[showNames]="init.playerOptions.nameOption"></app-buff-view>
			</div>

		</div>
	</ng-container>
	<ng-template #noEncounterMsg>
		The encounter hasn't started yet.
	</ng-template>
</ng-container>