@import '../../pf-app-theme.scss';

mat-icon {
	vertical-align: middle;
}

.selected-creature-row {
	border: 1px solid mat-color($pf-app-accent);
	box-sizing: border-box;
}

.drawer {
	max-width: 40%;
}

.initiativeTable {
	border-collapse: collapse;
	margin-right: 1px;
}

.initiativeRow:hover {
	background: rgba(black, 0.04);
	cursor: pointer;
}

.active-creature-row {
	background: mat-color($pf-app-primary);
}

.active-creature-row:hover {
	background: mat-color($pf-app-primary, darker);
}

.initiativeCell {
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}

.left-aligned-cell {
	text-align: left;
}

.buff-icon {
	font-size: 10px;
	height: 10px;
	width: 10px;
	padding: 1px;
}

.decrease-icon {
	font-size: 20px;
	height: 20px;
	width: 20px;
	padding: 1px;
}

.creature-name {
	font-size: large;
	vertical-align: middle
}