<mat-expansion-panel #monsterFormContainer>
	<mat-expansion-panel-header>
		<mat-panel-title>
			New Monster
		</mat-panel-title>
		<mat-panel-description>
			Add a new monster
		</mat-panel-description>
	</mat-expansion-panel-header>
	<app-monster-form
		(onSubmitted)="add($event); monsterFormContainer.close()"
		(onCanceled)="monsterFormContainer.close()"></app-monster-form>
</mat-expansion-panel>
<div class="button-row">
	<button mat-button (click)="clear()" color="warn">Clear</button>
	<button mat-button (click)="addAllToInitiative()" color="primary">Add All to Initiative (Roll)</button>
</div>
<div class="container" fxLayout="row wrap" fxLayoutAlign="center start" fxLayout.xs="column">
	<mat-card *ngFor="let monster of monsters" class="player-card" fxFlex="1 0 250px">
		<mat-card-title>
			{{monster.name}}
			<span *ngIf="monster.quantity > 1">({{ monster.id }} of {{ monster.quantity }})</span>
		</mat-card-title>
		<mat-card-content *ngIf="!monster.edit">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>Details</mat-panel-title>
				</mat-expansion-panel-header>
				HP: {{monster.hp}}<br>
				Initiative Bonus: {{monster.initiativeBonus}}<br>
				Perception Bonus: {{monster.perceptionBonus}}
				<mat-action-row>
					<button mat-button (click)="monster.edit=true">Edit</button>
				</mat-action-row>
			</mat-expansion-panel>
		</mat-card-content>
		<mat-card-content *ngIf="monster.edit">
			<app-monster-form
				[model]="monster"
				(onSubmitted)="update(monster, $event); monster.edit = false"
				(onCanceled)="monster.edit = false"></app-monster-form>
		</mat-card-content>
		<mat-card-actions *ngIf="!monster.edit">
			<button mat-button color="primary" (click)="addToInitiative(monster)">Add to Initiative</button>
			<button mat-button color="warn" (click)="remove(monster)">Remove</button>
		</mat-card-actions>
	</mat-card>
</div>