<mat-expansion-panel #monsterFormContainer>
	<mat-expansion-panel-header>
		<mat-panel-title>
			New Monster
		</mat-panel-title>
		<mat-panel-description>
			Add new monster(s) directly to initiative
		</mat-panel-description>
	</mat-expansion-panel-header>
	<app-monster-form
		(onSubmitted)="add($event); monsterFormContainer.close()"
		(onCanceled)="monsterFormContainer.close()"></app-monster-form>
</mat-expansion-panel>
<mat-expansion-panel #encounterFormContainer>
	<mat-expansion-panel-header>
		<mat-panel-title>
			New Encounter
		</mat-panel-title>
		<mat-panel-description>
			Create a new encounter
		</mat-panel-description>
	</mat-expansion-panel-header>
	<app-encounter-form (close)="encounterFormContainer.close(); getEncounters()"></app-encounter-form>
</mat-expansion-panel>
<div class="container" fxLayout="row wrap" fxLayoutAlign="center start" fxLayout.xs="column">
	<mat-card *ngFor="let encounter of encounters" class="player-card" fxFlex="1 0 500px">
		<mat-card-title>
			{{encounter.name}}
		</mat-card-title>
		<mat-card-content>
			<ng-container *ngIf="!encounter.edit">
				<mat-accordion>
					<mat-expansion-panel *ngFor="let monster of encounter.monsters">
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{monster.name}} <ng-container *ngIf="monster.quantity > 1">({{ monster.id }} of {{ monster.quantity }})</ng-container>
							</mat-panel-title>
							<mat-panel-description>
								Details
							</mat-panel-description>
						</mat-expansion-panel-header>
						<ng-container *ngIf="!monster.edit">
							HP: {{monster.hp}}<br>
							Constitution: {{monster.conScore}}<br>
							Initiative: +{{monster.initiativeBonus}}<br>
							Perception: +{{monster.perceptionBonus}}
							<span matBadge="{{monster.notification.perception}}" matBadgeColor="accent" [matBadgeHidden]="!monster.notification.perception">
								<button mat-icon-button color="primary" matTooltip="Roll" (click)="monster.rollPerception()">
									<mat-icon svgIcon="dice-d20"></mat-icon>
								</button>
							</span>
							<mat-action-row>
								<button mat-button (click)="monster.edit=true">Edit</button>
								<button mat-button color="primary" (click)="addToInitiative(monster)">Add to Initiative</button>
								<button mat-button color="warn" (click)="remove(monster, encounter)">Remove</button>
							</mat-action-row>
						</ng-container>
						<ng-container *ngIf="monster.edit">
							<app-monster-form
								[model]="monster"
								(onSubmitted)="update(monster, $event); monster.edit=false"
								(onCanceled)="monster.edit=false">
							</app-monster-form>
						</ng-container>
					</mat-expansion-panel>
				</mat-accordion>
			</ng-container>
			<ng-container *ngIf="encounter.edit">
				<app-monster-form
					(onSubmitted)="add($event, encounter); encounter.edit = false"
					(onCanceled)="encounter.edit = false">
				</app-monster-form>
			</ng-container>
		</mat-card-content>
		<mat-card-actions *ngIf="!encounter.edit">
			<button mat-button (click)="encounter.edit = true">New Monster</button>
			<button mat-button color="primary" (click)="addEncounterToInitiative(encounter)" [disabled]="!encounter.monsters.length">Add to Initiative</button>
			<button mat-button color="warn" (click)="removeEncounter(encounter)">Remove</button>
		</mat-card-actions>
	</mat-card>
</div>