<mat-expansion-panel #playerFormContainer>
	<mat-expansion-panel-header>
		<mat-panel-title>
			New Player
		</mat-panel-title>
		<mat-panel-description>
			Add a new player
		</mat-panel-description>
	</mat-expansion-panel-header>
	<app-player-form
		(onSubmitted)="add($event); playerFormContainer.close()"
		(onCanceled)="playerFormContainer.close()"></app-player-form>
</mat-expansion-panel>
<div class="button-row">
	<button mat-button (click)="clear()" color="warn">Clear</button>
	<button mat-button (click)="addAllToInitiative()" color="primary">Add All to Initiative</button>
	<button mat-button (click)="rollPerceptionForAll()" color="accent">Roll Perception</button>
	<button mat-button (click)="rollSenseMotiveForAll()" color="accent">Roll Sense Motive</button>
</div>
<div class="container" fxLayout="row wrap" fxLayoutAlign="center start" fxLayout.xs="column">
	<mat-card *ngFor="let player of players" class="player-card" fxFlex="1 0 250px">
		<mat-card-title>{{player.name}}</mat-card-title>
		<mat-card-content *ngIf="!player.edit">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>Details</mat-panel-title>
				</mat-expansion-panel-header>
				Initiative: +{{player.initiativeBonus}}<br>
				Perception: +{{player.perceptionBonus}}
				<span matBadge="{{player.notification.perception}}" matBadgeColor="accent" [matBadgeHidden]="!player.notification.perception">
					<button mat-icon-button color="primary" matTooltip="Roll" (click)="player.rollPerception()">
						<mat-icon svgIcon="dice-d20"></mat-icon>
					</button>
				</span>
				<br>
				Sense Motive: +{{player.senseMotiveBonus}}
				<span matBadge="{{player.notification.senseMotive}}" matBadgeColor="accent" [matBadgeHidden]="!player.notification.senseMotive">
					<button mat-icon-button color="primary" matTooltip="Roll" (click)="player.rollSenseMotive()">
						<mat-icon svgIcon="dice-d20"></mat-icon>
					</button>
				</span>
				<mat-action-row>
					<button mat-button (click)="openInitiativeDialog(player)">Add to Initiative (Manual)</button>
					<button mat-button (click)="player.edit=true">Edit</button>
				</mat-action-row>
			</mat-expansion-panel>
		</mat-card-content>
		<mat-card-content *ngIf="player.edit">
			<app-player-form
				[model]="player"
				(onSubmitted)="update(player, $event); player.edit = false"
				(onCanceled)="player.edit = false"></app-player-form>
		</mat-card-content>
		<mat-card-actions *ngIf="!player.edit">
			<button mat-button color="primary" (click)="addToInitiative(player)">Add to Initiative</button>
			<button mat-button color="warn" (click)="remove(player)">Remove</button>
		</mat-card-actions>
	</mat-card>
</div>