<div class="button-row" *ngIf="order.length">
	<button mat-button (click)="clear()" color="warn">Clear</button>
	<button mat-button (click)="previous()">Previous</button>
	<button mat-button (click)="advance()" color="primary">Advance</button>
</div>
<div *ngIf="order.length">
	Round: {{round}}
</div>
<div class="container" *ngIf="order.length" fxLayout="row" fxLayoutGap="10px">
	<table class="mat-table initiativeTable" fxFlex="2 1 auto">
		<tr class="mat-row initiativeRow" *ngFor="let creature of order"
			[class.active-creature-row]="creature == order[active]"
			(click)="selectedCreature = creature">

			<td class="mat-cell initiativeCell">
				{{creature.initiative}}
			</td>

			<td class="mat-cell initiativeCell">
				<span *ngIf="!creature.hp"><mat-icon>person</mat-icon></span>
				<span class="creature-name"> {{creature.name}}</span>
				<span *ngIf="creature.quantity > 1"> ({{ creature.id }} of {{ creature.quantity }})</span>
			</td>

			<td class="mat-cell initiativeCell">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div *ngIf="creature.hp" fxLayout="column" fxLayoutAlign="center center">
						<span>
							{{creature.currentHp}}/{{creature.hp}}
							<button mat-icon-button (click)="openDamageFormDialog(creature)" matTooltip="Damage"><mat-icon svgIcon="sword"></mat-icon></button>
						</span>
						<mat-progress-bar mode="determinate" color="warn" [value]="100*(creature.currentHp/creature.hp)"></mat-progress-bar>
					</div>
					<mat-chip-list>
						<mat-chip *ngFor="let condition of creature.conditions" [removable]="true">
							<span matChipAvatar class="condition-chip-avatar">{{condition.duration}}</span>
							{{condition.name}}
							<mat-icon matChipRemove (click)="removeCondition(creature, condition)">cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</div>
			</td>

			<td class="mat-cell initiativeCell">
				<button mat-icon-button (click)="openConditionFormDialog(creature)" matTooltip="Add Condition"><mat-icon svgIcon="skull"></mat-icon></button>
				<button mat-icon-button (click)="openNoteFormDialog(creature)" type="button" matTooltip="Add Note"><mat-icon>note_add</mat-icon></button>
				<span *ngIf="!delayed(creature)">
					<button mat-icon-button (click)="delay(creature)" matTooltip="Delay"><mat-icon>snooze</mat-icon></button>
				</span>
				<span *ngIf="delayed(creature)">
					<button mat-icon-button (click)="undelay(creature)" color="primary" matTooltip="Undelay"><mat-icon>alarm_on</mat-icon></button>
				</span>
				<button mat-icon-button (click)="moveUp(creature)" matTooltip="Move Up"><mat-icon>arrow_upward</mat-icon></button>
				<button mat-icon-button (click)="moveDown(creature)" matTooltip="Move Down"><mat-icon>arrow_downward</mat-icon></button>
				<button mat-icon-button (click)="remove(creature)" matTooltip="Remove"><mat-icon>delete</mat-icon></button>
			</td>
		</tr>
	</table>
	<mat-card fxFlex="1 1 auto" *ngIf="selectedCreature">
		<mat-card-title>
			{{selectedCreature.name}}
		</mat-card-title>
		<mat-card-content>
			<mat-list>

				<h3 mat-subheader>Basics</h3>
				<mat-list-item>
					Initiative: {{selectedCreature.initiative - selectedCreature.initiativeBonus}} + {{selectedCreature.initiativeBonus}}
				</mat-list-item>
				<mat-list-item *ngIf="selectedCreature.hp">
					HP: {{selectedCreature.currentHp}}/{{selectedCreature.hp}}
				</mat-list-item>
				<mat-list-item *ngIf="selectedCreature.conScore">
					Constitution: {{selectedCreature.conScore}}
				</mat-list-item>
				<mat-list-item>
					Perception Bonus: {{selectedCreature.perceptionBonus}}
					<span matBadge="{{selectedCreature.notification.perception}}" matBadgeColor="accent" [matBadgeHidden]="!selectedCreature.notification.perception">
						<button mat-icon-button color="primary" matTooltip="Roll" (click)="rollPerception(selectedCreature)">
							<mat-icon svgIcon="dice-d20"></mat-icon>
						</button>
					</span>
				</mat-list-item>
				<mat-list-item *ngIf="selectedCreature.senseMotiveBonus !== undefined">
					Sense Motive Bonus: {{selectedCreature.senseMotiveBonus}}
					<span matBadge="{{selectedCreature.notification.senseMotive}}" matBadgeColor="accent" [matBadgeHidden]="!selectedCreature.notification.senseMotive">
						<button mat-icon-button color="primary" matTooltip="Roll" (click)="rollSenseMotive(selectedCreature)">
							<mat-icon svgIcon="dice-d20"></mat-icon>
						</button>
					</span>
				</mat-list-item>

				<mat-divider *ngIf="selectedCreature.conditions.length"></mat-divider>
				<h3 mat-subheader *ngIf="selectedCreature.conditions.length">Conditions</h3>
				<mat-chip-list>
					<mat-chip *ngFor="let condition of selectedCreature.conditions" [removable]="true">
						<span matChipAvatar class="condition-chip-avatar">{{condition.duration}}</span>
						{{condition.name}}
						<mat-icon matChipRemove (click)="removeCondition(selectedCreature, condition)">cancel</mat-icon>
					</mat-chip>
				</mat-chip-list>

				<mat-divider *ngIf="selectedCreature.notes.length"></mat-divider>
				<h3 mat-subheader *ngIf="selectedCreature.notes.length">Notes</h3>
				<mat-chip-list>
					<mat-chip *ngFor="let note of selectedCreature.notes" [removable]="true">
						{{note}}
						<mat-icon matChipRemove (click)="removeNote(selectedCreature, note)">cancel</mat-icon>
					</mat-chip>
				</mat-chip-list>

			</mat-list>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button (click)="selectedCreature = null">Close</button>
		</mat-card-actions>
	</mat-card>
</div>