<form [formGroup]="form">
	<div fxLayout="row" fxLayoutAlign="start center">

		<button mat-icon-button type="button" (click)="removeSpellLevel()"><mat-icon>delete</mat-icon></button>

		<mat-form-field appearance="outline" fxFlex="0 0 auto">
			<mat-label>Level</mat-label>
			<input matInput type="number" formControlName="level" required>
		</mat-form-field>

		<mat-form-field appearance="outline" fxFlex="0 0 auto">
			<mat-label>Spells per day</mat-label>
			<input matInput type="number" formControlName="uses" required>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-chip-list formArrayName="spells" #chipList>
				<mat-chip *ngFor="let spell of spells.controls; let i=index" [formGroupName]="i" [removable]="true" (removed)="removeSpell(i)">
					{{spell.get('name').value}}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
				<input placeholder="Spells..."
						[matChipInputFor]="chipList"
						[matChipInputAddOnBlur]="true"
						[matChipInputSeparatorKeyCodes]="[13, 188]"
						(matChipInputTokenEnd)="tokenEnd($event)"
						(paste)="paste($event)"
						#spellInput>
			</mat-chip-list>
		</mat-form-field>

	</div>
</form>