<h1 mat-dialog-title>
	<ng-container *ngIf="this.data.buff">Edit Buff</ng-container>
	<ng-container *ngIf="!this.data.buff">Add Buff</ng-container>
</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="trySubmit()">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Buff</mat-label>
          <input type="text" matInput formControlName="name" required (keyup.enter)="trySubmit()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Duration (rounds)</mat-label>
          <input type="number" matInput formControlName="duration" required (keyup.enter)="trySubmit()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Initiative Count</mat-label>
          <input type="number" matInput formControlName="initiative" required (keyup.enter)="trySubmit()">
          <mat-hint align="start">When duration ticks down</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Affected Creatures</mat-label>
          <mat-select placeholder="Choose creatures..." [compareWith]="compareFn" formControlName="affected" multiple (keyup.enter)="trySubmit()">
          	<mat-optgroup [label]="'Players'">
          		<mat-option *ngFor="let creature of playerGroup" [value]="creature">
          			{{creature.name}}
          		</mat-option>
          	</mat-optgroup>
          	<mat-optgroup [label]="'Monsters'">
          		<mat-option *ngFor="let creature of monsterGroup" [value]="creature">
          			<ng-container *ngIf="data.showNames">{{creature.name}}</ng-container>
          			<ng-container *ngIf="!data.showNames">Monster</ng-container>
          			<ng-container *ngIf="creature.basics?.quantity > 1"> ({{ creature.basics.idx }} of {{ creature.basics.quantity }})</ng-container>
          		</mat-option>
          	</mat-optgroup>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-form-field appearance="outline">
        <mat-label>Effect</mat-label>
        <textarea matInput matTextareaAutosize [matAutosizeMaxRows]="9" formControlName="effect"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="trySubmit()" [disabled]="form.invalid">Submit</button>
</div>