<mat-list>
	<h3 mat-subheader>Buffs</h3>
	<mat-list-item *ngFor="let buff of buffs">
		<button mat-icon-button (click)="rerollColor(buff)">
			<mat-icon [ngStyle]="{'color': buff.color}" matTooltip="Change color">brightness_1</mat-icon>
		</button>
		{{buff.name}} for {{buff.duration}} rounds<ng-container *ngIf="buff.effect.length">: {{buff.effect}}</ng-container>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openBuffFormDialog(buff)">
				<mat-icon>edit</mat-icon>
				<span>Edit</span>
			</button>
			<button mat-menu-item (click)="removeBuff(buff)">
				<mat-icon>delete</mat-icon>
				<span>Remove</span>
			</button>
		</mat-menu>
	</mat-list-item>
</mat-list>

<button mat-button (click)="openBuffFormDialog()"><mat-icon svgIcon="plus"></mat-icon> Buff</button>