<div class="buffs-container">

	<div	*ngFor="let buff of sortedBuffs(buffs)" 
			[ngClass]="{'buff-focused': buff.id == focusedBuffId}"
			(mouseover)="mouseoverBuff(buff)" 
			(mouseout)="mouseoutBuff()">
		<button mat-icon-button (click)="rerollColor(buff)">
			<mat-icon 	[ngStyle]="{'color': buff.color}"
						matTooltip="Change color">
				brightness_1
			</mat-icon>
		</button>
		<span>{{buff.name}} for {{buff.duration}} rounds</span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>

		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openBuffFormDialog(buff)">
				<mat-icon>edit</mat-icon>
				<span>Edit</span>
			</button>
			<button mat-menu-item (click)="removeBuff(buff)">
				<mat-icon>delete</mat-icon>
				<span>Remove</span>
			</button>
		</mat-menu>

		<div *ngIf="buff.effect.length" class="buff-effect">{{buff.effect}}</div>
	</div>

	<button mat-button (click)="openBuffFormDialog()"><mat-icon svgIcon="plus"></mat-icon> Effect</button>
	<button mat-button *ngIf="buffs.length" (click)="clearBuffs()">Clear</button>

</div>