@import '../../../pf-app-theme.scss';

.buffs-container {
	padding: 5px;
}

.buff-effect {
	font-size: small;
	margin-left: 40px;
	padding-bottom: 12px;
	padding-right: 12px;
	max-width: 30vw;
}

.buff-focused {
	background: mat-color($pf-app-primary);
	border-radius: 12px;
}