<div class="buffs-view" *ngIf="initService.init$ | async as init">

	<div	*ngFor="let buff of sortedBuffs(init.buffs)"
			class="buffs-container"
			[ngClass]="{'buff-focused': buff.id == focusedBuffId}"
			(mouseover)="mouseoverBuff(buff)" 
			(mouseout)="mouseoutBuff()">
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<div fxLayout="row" fxLayoutAlign="center center">
				<span class="buff-duration" (click)="rerollColor(buff)" [ngStyle]="{'background-color': buff.color}" matTooltip="Change color">
					<ng-container *ngIf="buff.playerVisible > 1">{{buff.duration}}</ng-container>
					<ng-container *ngIf="!buff.playerVisible || buff.playerVisible < 2">?</ng-container>
				</span>
				<span>{{buff.name}}</span>
			</div>
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
		</div>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openBuffFormDialog(buff)">
				<mat-icon>edit</mat-icon>
				<span>Edit</span>
			</button>
			<button mat-menu-item (click)="removeBuff(buff)">
				<mat-icon>delete</mat-icon>
				<span>Remove</span>
			</button>
		</mat-menu>

		<div *ngIf="buff.description.length && buff.id == focusedBuffId" class="buff-description">{{buff.description}}</div>
	</div>

	<button mat-button (click)="openBuffFormDialog()"><mat-icon svgIcon="plus"></mat-icon> Effect</button>
	<button mat-button *ngIf="init.buffs.length" (click)="clearBuffs()">Clear</button>

</div>