<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
	<a mat-button target="_blank" [routerLink]="['/player', code]">Open Player View</a>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Player View Options</mat-panel-title>
			<mat-panel-description>Control what the players can see</mat-panel-description>
		</mat-expansion-panel-header>
		<form [formGroup]="optionsForm">
			<mat-form-field appearance="outline">
				<mat-label>Monster names</mat-label>
				<mat-select formControlName="nameOption">
					<mat-option *ngFor="let opt of nameOptions" [value]="opt">
						{{opt}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Monster health</mat-label>
				<mat-select formControlName="healthOption">
					<mat-option *ngFor="let opt of healthOptions" [value]="opt">
						{{opt}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Conditions</mat-label>
				<mat-select formControlName="conditionOption">
					<mat-option *ngFor="let opt of conditionOptions" [value]="opt">
						{{opt}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="standard">
				<mat-select formControlName="visibleOption">
					<mat-option *ngFor="let opt of visibleOptions" [value]="opt">
						{{opt}}
					</mat-option>
				</mat-select>
				<span matPrefix>Monsters you add are&nbsp;</span>
				<span matSuffix>&nbsp;by default.</span>
			</mat-form-field>
		</form>

		<div class="button-row">
			<button mat-raised-button (click)="initService.toggleAllVisible(true)">Make All Visible</button>
			<button mat-raised-button (click)="initService.toggleAllVisible(false)">Make All Invisible</button>
		</div>
	</mat-expansion-panel>
</div>