/* You can add global styles to this file, and also import other style files */
/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import '~@angular/material/theming';

@include mat-core();*/

@import './pf-app-theme.scss';

html {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-sidenav {
	padding: 10px;
}

mat-progress-bar {
	min-width: 30px;
}

.badge {
	border-radius: 50%;
	width: 22px;
	height: 22px;
	font-size: 12px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
	display: block-inline;
	font-family: Roboto, "Helvetica Neue", sans-serif
}

.accent-badge {
	background-color: mat-color($pf-app-accent);
	color: black;
}

.primary-badge {
	background-color: mat-color($pf-app-primary);
	color: white;
}

.color-bar {
	background-color: mat-color($pf-app-primary);
}

.player-card {
	max-width: 30vw;
	min-width: 250px;
	margin: 10px;
}

.creature-name {
	font-size: large;
}

.health-good {
	color: mat-color(mat-palette($mat-green));
}

.health-bad {
	color: mat-color(mat-palette($mat-yellow));
}

.health-dead {
	color: mat-color(mat-palette($mat-red));
}

.creature-popout-pane {
    overflow-y: scroll;
}

span {
	text-indent: 0em
}