<div class="button-row">

	<app-rollable [base]="4" [iconColor]="'white'" [badgeColor]="'primary'"></app-rollable>

	<app-rollable [base]="6" [iconColor]="'white'" [badgeColor]="'primary'"></app-rollable>

	<app-rollable [base]="8" [iconColor]="'white'" [badgeColor]="'primary'"></app-rollable>

	<app-rollable [base]="10" [iconColor]="'white'" [badgeColor]="'primary'"></app-rollable>

	<app-rollable [base]="12" [iconColor]="'white'" [badgeColor]="'primary'"></app-rollable>

	<app-rollable [base]="20" [iconColor]="'white'" [badgeColor]="'primary'"></app-rollable>

	<mat-form-field appearance="outline">
		<mat-label>Roll custom dice</mat-label>
		<input matInput type="text" [(ngModel)]="model.command" placeholder="Ex: 2d8+4" (keyup.enter)="rollCustom()">
	</mat-form-field>

	<button mat-icon-button type="button" (click)="rollCustom()" [disabled]="!valid()">
		<mat-icon svgIcon="dice-multiple"></mat-icon>
	</button>

	{{model.result}}
</div>